<div class="devise-container">
  <h2><%= t("form.investment.title") %></h2>
  <%= simple_form_for([@investment]) do |f| %>
    <%= f.association :project, label: t("form.investment.duplicate_project")%>
  <%= f.submit t("form.save"), class: "btn btn-success"%>
<% end %>
<br>
</div>
