<div class="devise-container">
  <h2>Investment</h2>
  <%= simple_form_for([@investment]) do |f| %>
    <%= f.association :project %>
  <%= f.submit 'Ready!', class: "btn btn-success"%>
<% end %>
<br>
</div>
