<div class="devise-container">
  <h2>Investment</h2>
  <%= simple_form_for([@investment]) do |f| %>
    <%= f.association :project, label: 'Create another investment for an existing project'%>
  <%= f.submit 'Create', class: "btn btn-success"%>
<% end %>
<br>
</div>
