<div class="nested-fields col-md-3 no-left-padding-md">
	<div class="col-md-8"> 
		<%= f.input :name, label: false, placeholder: t("form.investment.investment_tag.new") %>
	</div>
	<div class="col-md-4"> 
		<%= link_to_remove_association "X", f, class: 'btn btn-success btn-sm' %>
	</div>
</div>