<div class="nested-fields row">
	<br>
	<div class="col-md-8">
		<%= f.input :name, label: false, placeholder: t("form.investment.organisation.name") %>
	</div>
	<div class="col-md-4" id="charity_number_box">
		<%= f.input :charity_number, label: false, placeholder: t("form.investment.organisation.charity_number")  %>
	</div>
</div>
