<div class="white-dropshadow-card">
	<div class="size-24"><%= nice_money(@investment.unlocked_amount) %></div>
	<div> 
		<% if @investment.completed? %>
			<%= t("investments.show.info_bar.mid_box.status_one") %>
		<% else %>
			<%= t("investments.show.info_bar.mid_box.status_one") %>
		<% end %>
	</div>
</div>