<div><%= nice_money(@investment.unlocked_amount) %></div>
<% if @investment.completed %>
	<div class="invest-show-small-text"> Unlocked  </div>
<% else %>
	<div class="invest-show-small-text"> YTD Unlocked  </div>
<% end  %>