<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <!-- Insert form here -->
      <div class="white-dropshadow-card size-24 green-text margin-top-bottom-15 container">
      	<%= t("form.investment.edit") %>
      </div>
        <%= render 'form' %>
        <%= link_to "Reject investment", reject_investment_path(@investment), method: :post, class: "btn btn-lg btn-danger" %>
        <br>
        <br>
    </div>
  </div>
</div>