<div class="invest-index-parent-card">
  <div class="invest-index-child-row">
    <div class="invest-index-child-box border-bottom">NGO NAME</div>
    <div class="invest-index-child-box border-bottom">Project Name</div>
  </div>
  <div class="invest-index-child-row">
    <div class="invest-index-child-box top-padding">
      <div class="days-left-invest-index"><p>Next Milestone <br> 14 days</p></div>
    </div>
    <div class="invest-index-child-box no-margin milestone-description">
      <h4> $250,000 </h4>
    </div>
    <div class="invest-index-child-box description-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
    desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
    <div class="buttons-flex>
      <div class="invest-index-child-box">
        <div class="card-button accept-button"><i class="fas fa-check"></i></div>
      </div>
      <div class="invest-index-child-box">
        <div class="card-button decline-button"><i class="fas fa-times"></i></div>
      </div>
      <div class="invest-index-child-box">
        <div class="card-button edit-button"><i class="fas fa-pencil-alt"></i></div>
      </div>
    </div>
  </div>
</div>
