<div class="container">
  <div class="row">
    <div class="col-sm-12">
    	<div class="white-dropshadow-card size-24 green-text margin-top-bottom-15 container">
    		<%= t("form.investment.new") %>
    	</div>
	    <%= render 'form' %>
    </div>
  </div>
</div>

