.form-login {
  background: white;
  padding: 10px 20px;
  margin: 50px 0px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.102751);
  form {
    display: flex;
    flex-direction: column;
  }
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  a {
    color: $green;
  }
  .btn-success {
    width: 100%;
  }
  .ngo-name-milestone-form {
    margin-bottom: 15px;
  }
}

.bottom-section-investment-form {
  margin-top: 40px;
  a {
    color: $green;
  }
}

