body {
	background: $background-color;
}

abbr {
	display: none;
}

td {
	font-family: 'Open Sans', sans-serif;
}

.main-content {
  margin: 0 auto;
  width: 95vw;
}
 
.margin-top-bottom-6 {
  margin-top: 6px;
  margin-bottom: 6px;
}

// Takes away the padding on mobile/tablet
@media(min-width:991px){
  .no-right-padding-md {
    padding-right: 0px;
  }

  .no-left-padding-md {
    padding-left: 0px;
  }

  .margin-15 {
    margin: 0px 15px 0px 15px;
  }

  .left-end-flex-md-up {
    display: flex;
    justify-content: flex-end;
  }
}

.no-margin-right {
  margin-right: 0px;
}

.no-margin-left {
  margin-left: 0px;
}

.unlocked-background-color {
  background-color: $green;
}

.locked-background-color {
  background-color: $orange;
}

.rescinded-background-color {
  background-color: $red;
}

.white-text {
  color: white;
}

.green-text {
  color: $green;
}

.flex-center-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-item {
  text-align: center;
}

.size-32 {
  font-size: 32px;
}

.size-24 {
  font-size: 24px;
}

.size-18 {
  font-size: 18px;
}

.size-12 {
  font-size: 12px;
}

.lb-sm {
  font-size: 12px;
  font-weight:normal
}

.lb-md {
  font-size: 18px;
  font-weight:normal
}

.lb-lg {
  font-size: 24px;
  font-weight:normal
}

