body {
	background: $background-color;
}

abbr {
	display: none;
}

td {
	font-family: 'Open Sans', sans-serif;
}

.main-content {
  margin: 0 auto;
  width: 95vw;
}
 
.margin-top-bottom-6 {
  margin-top: 6px;
  margin-bottom: 6px;
}

// Takes away the padding on mobile/tablet
@media(min-width:992px){
  .no-right-padding-md {
    padding-right: 0px;
  }

  .no-left-padding-md {
    padding-left: 0px;
  }
}


// a,
// a:link,
// a:visited,
// a:hover,
// a:focus,
// a:active {
//   color: inherit; /* blue colors for links too */
//   text-decoration: inherit; /* no underline */
// }

.unlocked-background-color {
  background-color: $green;
}

.locked-background-color {
  background-color: $orange;
}

.rescinded-background-color {
  background-color: $red;
}

.white-text {
  color: white;
}

.green-text {
  color: $green;
}

.size-24 {
  font-size: 24px;
}

.size-18 {
  font-size: 18px;
}

.size-12 {
  font-size: 12px;
}

