.fullpage{
  background-color: #F8E5FF;
}

.chart-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-chart {
  width: 47vw;
  /* height: 50%; */
  padding: 10px 0px;
  background: white;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.102751);
}

// UPCOMING MILESTONE TITLE BOX
.mid-title-box{
  margin: 20px;
}

.mid-title-flex {
  display: flex;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.102751);
}

.title-mid-home-page-text{
  right-margin: auto;
}

.putting-purple-button-left{
  left-margin: auto;
}


.title-button-container {
  display: flex;
}

.round-purple-new-btn {
  margin-left: auto;
  margin-bottom: 10px;
  /* margin-top: 4px; */
  margin-right: 40px;
  border-radius: 100%;
  background-color: $purple;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12), inset 0px 1px 0px rgba(255, 255, 255, 0.12);

  .fa-plus {
    color: white;
    font-size: 25px;
  }
}

.home-title-container{
  width: 50vw;
  border-bottom: 1px solid $purple;
  padding-bottom: 3px;
  margin-bottom: 15px;
  h3 {
    margin: 0;
    // position: relative;
    // top: 39%;
  }
}

// HOME PAGE CARD CSS
.home-page-flex-parent {
  font-family: Raleway;
  max-width: 1250px;
  min-width: 875px;
  margin: 0 auto;
  padding: 10px 13px;
  background-color: white;
  margin-bottom: 15px;
}

.home-page-flex-parent:hover {
  border-left: 3px solid $purple;
  border-right: 3px solid $purple;
  padding: 10px 10px;
}

.home-page-child-row {
  display: flex;
  align-items: center;
  justify-content: left;
}

.home-page-child-box {
  padding-left: 5px;
  padding-right: 5px;
  flex: 1/8;
}

.purple-border-bottom {
  border-bottom: 2px solid $purple;
}

.all-caps-bold {
  text-transform: uppercase;
  font-weight: bold;
}

.no-margin {
  h1, h2, h3, h4, h5, h6 {
    margin: 0px;
  }
}

.home-page-days-left {
  align-self: flex-start;
  border: 2px solid $purple;
  border-radius: 3px;
  text-align: center;
  color: $purple;
  min-width: 70px;
  margin: 9px 0px;
  padding: 15px 10px;
}

.milestone-description {
  min-width: 120px;
}

.description-text {
  padding: 0 15px;
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 800px) {
  .description-text {
    display: none;
    color: pink;
  }
}

// table buttons css

.table-container{
  margin: 0px 20px;
}

.white-background{
  background: white;
}

table tr:first-child th:first-child {
    border-top-left-radius: 4px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 4px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 4 px;
}


.dropshadow-around {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.102751);
  border-radius: 10px;
}


.unlock-button-table {
  color: green;
}

.unlock-button-table:hover {
  color: white;
  background-color: green;
}

.decline-button-table {
  color: #A31621;
}

.decline-button-table:hover {
  color: white;
  background-color: #A31621;
}

.edit-button-table {
  color: gold;
}

.edit-button-table:hover {
  color: white;
  background-color: gold;
}

.tablesorter-header-inner{
  display: flex;
  justify-content: center;
}

tr.header-row-milestone {
  .margin-left-auto {
    margin-left: auto;
    line-height: unset;
  }
}

tr.table-row-milestone {
  .button-appear-hover {
    display: none;
  }
  &:hover {
    .button-appear-hover {
      display: block;
    }
  }
}
