// Specific CSS for your home-page
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://use.fontawesome.com/releases/v5.0.8/css/all.css);

.fullpage{
  background-color: #F8E5FF;
}

.chart-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-chart {
  width: 25%;
  height: 25%;
  padding: 0px 50px;
  margin: 10px 0px;
}

.home-page-flex-parent {
  font-family: Raleway;
  max-width: 1250px;
  min-width: 875px;
  margin: 0 auto;
  padding: 10px 13px;
  background-color: white;
  margin-bottom: 15px;
}

.home-page-flex-parent:hover {
  border-left: 3px solid #bf00ff;
  border-right: 3px solid #bf00ff;
  padding: 10px 10px;
}

.home-page-child-row {
  display: flex;
  align-items: center;
  justify-content: left;
}

.home-page-child-box {
  padding-left: 5px;
  padding-right: 5px;
  flex: 1/8;
}

.purple-border-bottom {
  border-bottom: 2px solid #bf00ff;
}

.all-caps {
  text-transform: uppercase;
  font-weight: bold;
}

.no-margin {
  h1, h2, h3, h4, h5, h6 {
    margin: 0px;
  }
}

.home-page-days-left {
  align-self: flex-start;
  border: 2px solid #bf00ff;
  border-radius: 3px;
  text-align: center;
  color: #bf00ff;
  min-width: 70px;
  margin: 9px 0px;
  padding: 15px 10px;
}

.milestone-description {
  min-width: 120px;
}

.description-text {
  padding: 0 15px;
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 800px) {
  .description-text {
    display: none;
    color: pink;
  }
}

.buttons-home-page {
  display: flex;
  margin-left: auto;
}

.card-button {
  align-self: flex-start;
  min-width: 100px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 3px;
  border: 2px solid;
}

.accept-button {
  border-color: green;
  color: green;
}

.accept-button:hover {
  color: white;
  background-color: green;
}

.decline-button {
  color: red;
  border-color: red;
}

.decline-button:hover {
  color: white;
  background-color: red;
}

.edit-button {
  color: gold;
  border-color: gold;
}

.edit-button:hover {
  color: white;
  background-color: gold;
}
