.fullpage{
  background-color: #F8E5FF;
}

.chart-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.home-chart {
  width: 45vw;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.102751);
  padding-right: 1px;
}

.home-content {
  margin: 0 50px;
}

// UPCOMING MILESTONE TITLE BOX
.mid-title-box{
  margin-top: 20px;
  margin-bottom: 20px;
}

.mid-title-flex {
  display:flex;
  align-items: center;
}

.title-mid-home-page-text{
  right-margin: auto;
  
  h3 {
    text-transform: uppercase;
    margin: 0px;
    margin-left: 3px;
  }
}

.mid-title-button-body {
  border-radius:4px;
  opacity: 1;
  color: white;
  background: $green;
  font-size: 14px;
  text-align: center;
  padding: 6px;
  margin: 10px;
  height: 30px;
  width: 60px;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.mid-title-button-right {
  margin-left: auto;
}

.title-mid-home-show-page-text {
  font-size: 18px;
  margin-right: auto;
  padding-left: 5px;
}

.title-flex {
  display: flex;
  align-items: left;
  justify-content: center;
}

.green-link-text {
  color: $green;
}

.text-align-right {
  text-align: right;
}

