.fullpage{
  background-color: #F8E5FF;
}

.chart-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.home-chart {
  width: 49%;
  padding: 10px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.102751);
}

.home-content {
  margin: 0 50px;
}

// UPCOMING MILESTONE TITLE BOX
.mid-title-box{
  margin-top: 20px;
  margin-bottom: 20px;
}

.mid-title-flex {
  display:flex;
  align-items: center;
}

.title-mid-home-page-text{
  right-margin: auto;
}

.title-mid-home-show-page-text {
  font-size: 18px;
  margin-right: auto;
  padding-left: 5px;
}

.title-flex {
  display: flex;
  align-items: left;
  justify-content: center;
}

.green-link-text {
  color: #fda5c1;
}
