.container-invest-show-info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 97vw;
  margin-top: 20px;
}

.invest-show-white-info-name {
  display: flex;
  align-items: center;
  flex: 6;
  height: 80px;
  // background: white;
  // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.102751);
  // border-radius: 4px;
  font-size: 30px;
  padding: 4px;
  // color: $green;
}

.invest-show-white-info-child-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  height: 80px;
  background-color: white;
  margin: 0px 5px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.102751);
}

.invest-show-number-green {
  color: $green;
}

.invest-show-small-text-gray {
  font-size: 10px;
}

.milestone-graphic{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size:12px;
  margin: 10px;
}

.milestone-graph-element {
  align-items: center;
  padding: 0px 30px;
}

.center-item {
  text-align: center;
}

.dot-unlocked {
  margin:30px;
  background-color: $green;
  border-radius:50%;
  width:30px;
  height:30px
}

.dot-locked {
  margin:30px;
  background-color: $orange;
  border-radius:50%;
  width:30px;
  height:30px
}

.dot-rescinded {
  margin:30px;
  background-color: $red;
  border-radius:50%;
  width:30px;
  height:30px
}

.title-mid-invest-show-page-text {
  font-size: 18px;
  margin-right: auto;
  padding-left: 5px;
}

.button-right {
  margin-left: auto;
}

.unlocked-status-icon{
  color: white;
  background-color: $green;
  border-radius: 5px;
  height: 23px;
  width: 63px;
  padding: 3px;
}

.locked-status-icon{
  color: white;
  background-color: $orange;
  border-radius: 5px;
  height: 23px;
  width: 47px;
  padding: 3px;
}

.rescinded-status-icon {
  color: white;
  background-color: $red;
  border-radius: 5px;
  height: 23px;
  width: 67px;
  padding: 3px;
}

