.container-invest-show-info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 97vw;
  margin-top: 20px;
}

.invest-show-white-info-name {
  // display: flex;
  // align-items: center;
  flex: 6;
  height: 80px;
  // background: white;
  // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.102751);
  // border-radius: 4px;
  font-size: 30px;
  padding: 4px;
  // color: $green;
}

.invest-show-white-info-child-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  height: 80px;
  margin: 0px 5px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 1px 1px 1px rgb(154, 228, 227);
}

.completed-background {
  background-color: $green;
  color: white;
}

.not-completed-background {
  background-color: white;
  color: $green;
}

.invest-show-medium-text-gray {
  font-size: 22px;
  font-style: italic;
}

.invest-show-number-green {
  color: $green;
}

.invest-show-number-white {
  color: white;
}

.invest-show-small-text {
  font-size: 12px;
}

.milestone-graphic{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
  background: white;
  width: 97vw;
}

.milestone-graph-element {
  align-items: center;
  padding: 0px 30px;
  position: relative;
}

.milestone-graph-element:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 1px solid black;
  background: black;
  width: 100%;
  transform: translateY(-50%);
  z-index: 1;
}

.center-item {
  text-align: center;
}

.flex-container{
  display: flex;
  justify-content: center;
  padding: 10px;
}


.dot {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  z-index: 4;
}

.dot-unlocked {
background-color: $green;
}

.dot-locked {
background-color: $orange;
}

.dot-rescinded {
background-color: $red;
}


.title-mid-invest-show-page-text {
  font-size: 18px;
  margin-right: 15px;;
  padding-left: 5px;
}

.button-right {
  margin-left: auto;
}

.unlocked-status-icon{
  color: white;
  background-color: $green;
  border-radius: 5px;
  height: 23px;
  width: 63px;
  padding: 3px;
}

.locked-status-icon{
  color: white;
  background-color: $orange;
  border-radius: 5px;
  height: 23px;
  width: 47px;
  padding: 3px;
}

.rescinded-status-icon {
  color: white;
  background-color: $red;
  border-radius: 5px;
  height: 23px;
  width: 67px;
  padding: 3px;
}

.completed-icon-invest-show {
  background-color: $green;
  color: white;
  border-radius: 4px;
  padding: 4px;
}

.not-completed-icon-invest-show {
  background-color: $orange;
  color: white;
  border-radius: 4px;
  padding: 4px;
}

