.invest-page-parent-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.purple-child-box {
  width: 250px;
  height: 65px;
  background-color: #bf00ff;
  margin: 0px 5px;
  border-radius: 3px;
}

