<div class="search-container">
  <div class="search-buttons">
    <h3>Search by: </h3>
  <% ['Focus Area', 'Date', 'NGO', 'Neighborhood','Project'].each do |tab| %>
    <button class="tab" onclick="openTab(event,'<%= tab %>Name'"><%= tab %></button>
  <% end %>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    function openTab(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("city");
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " w3-red";
}
  </script>
<% end %>
