<button onclick="toggleSearch();">toggle advanced search</button>

<div class="search-wrapper">
  <div id="search-content">
  <!-- COMMMMMMMMMMMENT -->
  <button onclick="toggleFocusSearch()">toggle focus search</button>
  <div id="focus-search-wrapper" class="search-tool" style="display:none;">

  </div>
  <br>
  <br>
  <button onclick="toggleNgoSearch();">toggle ngo search</button>
  <div id="ngo-search-wrapper" class="search-tool" style="display:none;">
     <div id="containerNgo">
        <input type="text" id="searchNgo">
        <ul id="resultsNgo" class="suggestion-box">
        </ul>
     </div>
     <h2>selected Ngo <a onclick="resetNgoSelection();">reset</a></h2>
     <div id="selected-ngo"></div>
  </div>
  <br>
  <br>
  <button onclick="toggleNeighborhoodSearch();">toggle neighborhood search</button>
  <div id="neighborhood-search-wrapper" class="search-tool" style="display:none;">
     <div id="containerNeighborhood">
        <input type="text" id="searchNeighborhood">
        <ul id="resultsNeighborhood" class="suggestion-box">
        </ul>
     </div>
     <h2>selected Neighborhood <a onclick="resetNeighborhoodSelection();">reset</a></h2>
     <div id="selected-neighborhood"></div>
  </div>
  <br>
  <br>
  <button onclick="toggleDateSearch();">toggle date search</button>
  <div id="date-search-wrapper" class="search-tool" style="display:none" >
      <h4>min date</h4>
      <input type="date" id="min-date">
      <h4>max date</h4>
      <input type="date" id="max-date">
  </div>
  <br>
  <br>
  <button onclick="toggleProjectSearch();">toggle project search</button>
  <div id="project-search-wrapper" class="search-tool" style="display:none;">
     <div id="containerProject">
        <input type="text" id="searchProject">
        <ul id="resultsProject" class="suggestion-box">
        </ul>
     </div>
     <h2>selected Project <a onclick="resetProjectSelection();">reset</a></h2>
     <div id="selected-project"></div>
  </div>
  <button onclick="searchAll();">Search!</button>
  </div>
</div>
<%=  content_for(:after_js) do %>
<script>

// TOGGLE SEARCH
  const searchBar = document.getElementById('search-content')
  function toggleSearch(){
  searchBar.style.display = searchBar.style.display === 'none' ? 'flex' : 'none';
};
  toggleSearch();
// FOCUS SEARCH



</script>
<% end %>
