  <div class="footer-wau">

    <!-- Logo & Copyright -->
    <div class="footer-left-section">
     <%= link_to root_path, class: "logo-project-grace-footer" do %>
     <%=cl_image_tag("Unicorn-Logo", height: 30) %>
     <% end %>
     <span class="footer-copyright">
       <i class="fa fa-copyright"></i> 2018 Project Grace
     </span>
   </div>

   <!-- Language Dropdown -->
   <div class="footer-right-section">
    <div class="footer-languages">
      <%= link_to 'English', root_path(locale: :en) %>
      <span>|</span>
      <%= link_to 'French', root_path(locale: :fr) %>
    </div>
  </div>