<div class="margin-15 no-margin-right">
	<div class="white-dropshadow-card">
		<div class="green-text size-24"> <%= nice_money(current_user.organisation.amount_for_year) %></div>
		<div> <%= t("home.forecased_amount_home.title") %> </div>
	</div>
</div>
