<div class="invest-show-amount"> <%= nice_money(@investment.forecasted_amount) %></div>
<% if @investment.completed %>
	<div class="invest-show-small-text"> Invested </div>
<% else %>
	<div class="invest-show-small-text"> FY Forecasted </div>
<% end %>