<div class="big-number-green"> <%= current_user.organisation.completed_investments.count %> / <%= current_user.organisation.approved_investments.count %></div>
<div class="small-text-gray"> <%= t("home.investment_count_home.title") %> </div>
