<div class="margin-15 no-margin-left">
	<div class="white-dropshadow-card flex-column">
		<div class="green-text size-24 no-left-padding-md"> <%= current_user.organisation.completed_investments.count %> / <%= current_user.organisation.approved_investments.count %></div>
		<div> <%= t("home.investment_count_home.title") %> </div>
	</div>
</div>