<div class="big-number-green"> <%= current_user.foundation.completed_investments_count %> / <%= current_user.foundation.investments.count %></div>
<div class="small-text-gray"> YTD Completed Investments  </div>