<% if milestone.accessible %>
  <% if milestone.unlocked %>
    <div class="dot-unlocked"></div>
  <% else  %>
    <div class="dot-locked"></div>
  <% end  %>
<% else %>
  <div class="dot-rescinded"></div>
<% end %>
