<div class="navbar-wau">

  <%= link_to root_path, class: "navbar-wau-logo" do %>
    <%=cl_image_tag("Unicorn-Logo", height: 50) %>
  <% end %>


  <div class="navbar-search-bar">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Search">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
  </div>


  <div class="wrapper-right-section">
      <div class="navbar-right-navigation">
      <a href="" class="navbar-wau-item navbar-wau-link">My Dashboard</a>
    <a href="" class="navbar-wagon-item navbar-wau-link">My Investments</a>

  </div>
    <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
  </div>
</div>

