<div class="margin-15">
	<div class="white-dropshadow-card flex-column">
		<div class="green-text size-24"><%= nice_money(current_user.organisation.unlocked_amount) %></div>
		<div> <%= t("home.total_unlocked_home.title") %> </div>
	</div>
</div>
