<%= params[:focus_area]%>
<div class=home-wrapper>
  <div class="white-info-parent-flex">
    <div class="container-home-info-box">
      <div id="investment_count_home" class="white-info-child-box">
        <%= render partial: "/partials/investment_count_home" %>
      </div>
      <div id="unlocked-amount" class="white-info-child-box">
        <%= render partial: "/partials/total_unlocked_home" %>
      </div>
      <div id="forecasted-amount" class="white-info-child-box">
        <%= render partial: "/partials/forecasted_amount_home" %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
 <div id="container">
    <input type="text" id="search">
    <ul id="results">
    </ul>
  </div>
    <h2>selected focus</h2>

<div id="selected-focus">
</div>
<button onclick="searchFocus();">search focus</button>
<script>
const input = document.getElementById('search');
const results = document.getElementById('results');
const selectedFocusContainer = document.getElementById('selected-focus')
let selectedFocus = []
function clearSearch() {
  results.childNodes.forEach((child) => {
    child.remove();
  });
}

function addSuggestion(suggestion) {
  results.insertAdjacentHTML('afterbegin', `<li onclick="addFocus('${suggestion}');">${suggestion}</li>`);
}

function addFocus(focus) {
  if ((selectedFocus.indexOf(focus) == -1)){
  selectedFocusContainer.insertAdjacentHTML('afterbegin', `<h4>${focus}  <a onclick="removeFocus('${focus}')">x</a><h4> `)
  selectedFocus.push(focus)
  }
};
function removeFocus(focus){

};

function searchFocus(){
  let focus_areas = ''
  selectedFocus.forEach((single_focus) => focus_areas += `${single_focus.replace("&","and")},`)
  console.log(focus_areas)
  window.location.replace(`/dashboard/?focus_area=${focus_areas}`);
};
function fetchInfo() {
  clearSearch();
  const inputValue = input.value;
  $.ajax({
  url: `/focus_area/${inputValue}`,
  type: 'GET',
  dataType: 'json',
  beforeSend: function (xhr) {
      xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
  },
  success: function(data){data.results.forEach((word) => addSuggestion(word)); },
  error: function(xhr, status, response) {/* your error callback */}
});
}
document.addEventListener('keyup', fetchInfo);

</script>
