<div class="fullpage">
  <div class="chart-box">
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/55/Composition_of_38th_Parliament.png" class="home-chart" alt="chart">
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/55/Composition_of_38th_Parliament.png" class="home-chart" alt="chart">
  </div>

  <div class="home-page-flex-parent">
    <div class="home-page-child-row">
      <div class="home-page-child-box purple-border-bottom all-caps"><p>Ngo Name</p></div>
      <div class="home-page-child-box purple-border-bottom"><p>Project Name</p></div>
    </div>
    <div class="home-page-child-row">
      <div class="home-page-child-box">
        <div class="home-page-days-left">14 days</div>
      </div>
      <div class="home-page-child-box no-margin milestone-description">
        <h4>Milestone 2</h>
          <h5>$250,000</h5>
        </div>
        <div class="home-page-child-box description-text">Lorem .</div>
        <div class="buttons-home-page">
        <div class="home-page-child-box">
          <div class="card-button accept-button"><i class="fas fa-check"></i></div>
        </div>
        <div class="home-page-child-box">
          <div class="card-button decline-button"><i class="fas fa-times"></i></div>
        </div>
        <div class="home-page-child-box">
          <div class="card-button edit-button"><i class="fas fa-pencil-alt"></i></div>
        </div>
        </div>
      </div>
    </div>
  </div>
