<h1>Request a foundation </h1>
<div class="container">
  <canvas id="myChart"></canvas>
</div>
<% content_for :after_js do %>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',
    <% @projects_names = current_user.foundation.projects.map(&:name) %>
    <% @projects_funding = current_user.foundation.projects.map(&:total_funding)%>
    <% @chart_colors = []%>
    <% projects_names.count.times do %>
    <% @chart_colors.push("") %>
    // The data for our dataset
    data: {
        labels: <%= raw @projects_names %>,
        datasets: [{
            label: "My First dataset",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: <%= raw @projects_funding %>,
        }]
    },
    backgroundColor: <%= raw @projects_names.count.times do;  %>,
    // Configuration options go here
    options: {}
});

</script>
<% end %>
