<div class="container-error-page-404">
  <div class="row">
    <div class="unicorn-404">
      <%= link_to root_path do %>
      <%= image_tag "https://res.cloudinary.com/itsgoinbealright/image/upload/v1521037102/unlock_twonicorn.png" %>
      <% end %>
    </div>
      <p class= "error-text"><%= t("error.not_found.title")%></p>
      <h4><%= t("error.not_found.sub_title")%></h4>
    </div>
  </div>
