<div class="container-error-page-404">
  <div class="row">
    <div class="unicorn-404">
      <%= link_to root_path do %>
      <%= image_tag "https://res.cloudinary.com/itsgoinbealright/image/upload/v1521037102/unlock_twonicorn.png" %>
      <% end %>
    </div>
      <p class= "error-text">404: OOPS, SORRY WE CAN'T FIND THAT PAGE!</p>
      <h4>Click the unicorn to go home!</h4>
    </div>
  </div>
