// NGO SEARCH

const inputNgo = document.getElementById('searchNgo');
const resultsNgo = document.getElementById('resultsNgo');
const selectedNgoContainer = document.getElementById('selected-ngo')
let selectedNgo = []
let selectedNgoString = ''
const ngoWrapper = document.getElementById('ngo-search-wrapper')

function toggleNgoSearch(){
  ngoWrapper.style.display = ngoWrapper.style.display === 'none' ? '' : 'none';
};


function clearSearchNgo() {
  resultsNgo.childNodes.forEach((child) => {
    child.remove();
  });
}

function addSuggestionNgo(suggestion) {

  resultsNgo.insertAdjacentHTML('afterbegin', `<li class="suggestion-item" onclick="addNgo('${suggestion.replace("'","|")}');">${suggestion}</li>`);
}

function addNgo(ngo) {
  if ((selectedNgo.indexOf(ngo) == -1)){
  selectedNgoContainer.insertAdjacentHTML('afterbegin', `<h4>${ngo.replace("|","'")}<h4> `)
  selectedNgo.push(ngo.replace('|',"'"))
  selectedNgoString += `${ngo.replace('&','and')},`
  }
};
function resetNgoSelection(){
  selectedNgo = []
  selectedNgoContainer.childNodes.forEach(function(item){
    item.remove()
  });
};

function fetchInfoNgo() {
  clearSearchProject();
  clearSearchNeighborhood();
  clearSearchFocus();
  clearSearchNgo();
  const inputValue = inputNgo.value;
  $.ajax({
  url: `/ngo/${inputValue}`,
  type: 'GET',
  dataType: 'json',
  beforeSend: function (xhr) {
      xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
  },
  success: function(data){data.results.forEach((word) => addSuggestionNgo(word)); },
  error: function(xhr, status, response) {/* your error callback */}
});
}
document.addEventListener('keyup', fetchInfoNgo);

// neighborhood search
const inputNeighborhood = document.getElementById('searchNeighborhood');
const resultsNeighborhood = document.getElementById('resultsNeighborhood');
const selectedNeighborhoodContainer = document.getElementById('selected-neighborhood')
let selectedNeighborhood = []
let selectedNeighborhoodString = ''
const neighborhoodWrapper = document.getElementById('neighborhood-search-wrapper')

function toggleNeighborhoodSearch(){
  neighborhoodWrapper.style.display = neighborhoodWrapper.style.display === 'none' ? '' : 'none';
};


function clearSearchNeighborhood() {
  resultsNeighborhood.childNodes.forEach((child) => {
    child.remove();
  });
}

function addSuggestionNeighborhood(suggestion) {

  resultsNeighborhood.insertAdjacentHTML('afterbegin', `<li class="suggestion-item" onclick="addNeighborhood('${suggestion.replace("'","|")}');">${suggestion}</li>`);
}

function addNeighborhood(neighborhood) {
  if ((selectedNeighborhood.indexOf(neighborhood) == -1)){
  selectedNeighborhoodContainer.insertAdjacentHTML('afterbegin', `<h4>${neighborhood.replace("|","'")}<h4> `)
  selectedNeighborhood.push(neighborhood.replace('|',"'"))
  selectedNeighborhoodString += `${neighborhood.replace('&','and')},`
  }
};
function resetNeighborhoodSelection(){
  selectedNeighborhood = []
  selectedNeighborhoodContainer.childNodes.forEach(function(item){
    item.remove()
  });
};

function fetchInfoNeighborhood() {
  clearSearchProject();
  clearSearchNeighborhood();
  clearSearchFocus();
  clearSearchNgo();
  const inputValue = inputNeighborhood.value;
  $.ajax({
  url: `/neighborhood/${inputValue}`,
  type: 'GET',
  dataType: 'json',
  beforeSend: function (xhr) {
      xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
  },
  success: function(data){data.results.forEach((word) => addSuggestionNeighborhood(word)); },
  error: function(xhr, status, response) {/* your error callback */}
});
}
document.addEventListener('keyup', fetchInfoNeighborhood);
// date search
const minDate = document.getElementById('min-date').value
const maxDate = document.getElementById('max-date').value
const dateWrapper = document.getElementById('date-search-wrapper')
function toggleDateSearch(){
  dateWrapper.style.display = dateWrapper.style.display === 'none' ? '' : 'none';
};
//project name search
const inputProject = document.getElementById('searchProject');
const resultsProject = document.getElementById('resultsProject');
const selectedProjectContainer = document.getElementById('selected-project')
let selectedProject = []
let selectedProjectString = ''
const projectWrapper = document.getElementById('project-search-wrapper')

function toggleProjectSearch(){
  projectWrapper.style.display = projectWrapper.style.display === 'none' ? '' : 'none';
};


function clearSearchProject() {
  resultsProject.childNodes.forEach((child) => {
    child.remove();
  });
}

function addSuggestionProject(suggestion) {

  resultsProject.insertAdjacentHTML('afterbegin', `<li class="suggestion-item" onclick="addProject('${suggestion.replace("'","|")}');">${suggestion}</li>`);
}

function addProject(project) {
  if ((selectedProject.indexOf(project) == -1)){
  selectedProjectContainer.insertAdjacentHTML('afterbegin', `<h4>${project.replace("|","'")}<h4> `)
  selectedProject.push(project.replace('|',"'"))
  selectedProjectString += `${project.replace('&','and')},`
  }
};
function resetProjectSelection(){
  selectedProject = []
  selectedProjectContainer.childNodes.forEach(function(item){
    item.remove()
  });
};

function fetchInfoProject() {
  clearSearchProject();
  clearSearchNeighborhood();
  clearSearchFocus();
  clearSearchNgo();
  const inputValue = inputProject.value;
  $.ajax({
  url: `/project/${inputValue}`,
  type: 'GET',
  dataType: 'json',
  beforeSend: function (xhr) {
      xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
  },
  success: function(data){data.results.forEach((word) => addSuggestionProject(word)); },
  error: function(xhr, status, response) {/* your error callback */}
});
}
document.addEventListener('keyup', fetchInfoProject);
// search all
function searchAll(){
  let output = ''
  output += `?focus_area=${selectedFocusString}`
  output += `&ngo=${selectedNgoString}`
  output += `&neighborhood=${selectedNeighborhoodString}`
  output += `&project=${selectedProjectString}`
  window.location.replace(`/dashboard/${output}`)
};
