<div id="date-search-wrapper">
  <div class="search-content col-md-2 left-end-flex-md-up">
      <label class="size-18 search-label" for=""><%= t("dashboard.search_bar.date") %>:</label>
  </div>
  <div class="col-md-3">
      <label class="size-18 search-label" for="min-date"><%= t("dashboard.search_bar.min_date") %>:</label>
      <input style="color:black;" type="date" id="min-date">
  </div>
  <div class="col-md-3">
      <label class="size-18 search-label" for="max-date"><%= t("dashboard.search_bar.max_date") %>:</label>
      <input style="color:black;" type="date" id="max-date">
  </div>
</div>

