  <div id="date-search-wrapper" class="search-content">
      <label for="focus_query">Dates:</label>&nbsp;&nbsp;&nbsp; </h3>
      <label for="min-date">From:</label>
      <input style="color:black;" type="date" id="min-date">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label for="max-date">To:</label>
      <input style="color:black;" type="date" id="max-date">
  </div>
