  <div id="date-search-wrapper col-md-8" class="search-content">
      <label class="size-24 green-text search-label pull-right" for="focus_query">Dates:</label>&nbsp;&nbsp;&nbsp;
      <label class="size-24 green-text search-label" for="min-date">From:</label>
      <input style="color:black;" type="date" id="min-date">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label class="size-24 green-text search-label" for="max-date">To:</label>
      <input style="color:black;" type="date" id="max-date">
  </div>
