  <div id="date-search-wrapper" >
      <h3>Dates:&nbsp;&nbsp;&nbsp; </h3>
      <h3>From:&nbsp;&nbsp;</h3>
      <input type="date" id="min-date">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <h3>To:&nbsp;&nbsp;</h3>
      <input type="date" id="max-date">

  </div>
