<div class="search-content">

  <div class="size-24 green-text search-label"><p>Focus search: </p></div>
    <div class="input form-group">
    <input type="text" class="form-control"id="focus_query">
    <div id="focusSuggestions" class="suggestions"></div>

  </div>
  <div id="focus_selection"></div>
</div>

<%= content_for(:after_js) do %>

  <script>
    function fetchSuggestionsFocus(){
      clearSuggestions();
      let inputFocus = document.getElementById('focus_query').value
      $.ajax({
      url: `/focus_area/${inputFocus}`,
      type: 'GET',
      dataType: 'json',
      beforeSend: function (xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
      },
      success: function(data){data.results.forEach((word) => addSuggestionFocus(word)); },
      error: function(xhr, status, response) {console.log('could not fetch request')}
    });
    };

    function addSuggestionFocus(suggestion){
      const focusSuggestions = document.getElementById('focusSuggestions')
      focusSuggestions.insertAdjacentHTML('afterbegin', `<li class="suggestion" onclick="addTag('focus_selection','${suggestion.replace("'","|")}');">${suggestion}</li>`);
    }

    const searchFocus = document.getElementById('focus_query')
    searchFocus.addEventListener('keyup',fetchSuggestionsFocus)
  </script>
<% end %>
