<div class="search-content col-md-2 pull-right-for-real">
  <label class="size-24 green-text search-label" for="project_query">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= t("dashboard.search_bar.project") %></label>
</div>
<div class="col-md-2">
  <div class="input form-group">
    <input type="text" class="form-control" id="project_query">
    <div id="projectSuggestions" class="suggestions"></div>
  </div>

</div>

<div class="col-md-5 tag-container" id="project_selection"></div>

<%= content_for(:after_js) do %>

  <script>
    function fetchSuggestionsProject(){
      clearSuggestions();
      let inputProject = document.getElementById('project_query').value
      $.ajax({
      url: `/project/${inputProject}`,
      type: 'GET',
      dataType: 'json',
      beforeSend: function (xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
      },
      success: function(data){data.results.forEach((word) => addSuggestionProject(word)); },
      error: function(xhr, status, response) {console.log('could not fetch request')}
    });
    };

    function addSuggestionProject(suggestion){
      const projectSuggestions = document.getElementById('projectSuggestions')
      projectSuggestions.insertAdjacentHTML('afterbegin', `<li class="suggestion" onclick="addTag('project_selection','${suggestion.replace("'","|")}');">${suggestion}</li>`);
    }

    const searchProject = document.getElementById('project_query')
    searchProject.addEventListener('keyup',fetchSuggestionsProject)
  </script>
<% end %>
