<div id="focus_area"></div>
<div id="ngo"></div>
<div id="installments"></div>

<%= render partial: '/partials/charts/focus-area-chart' %>

<%= render partial: '/partials/charts/ngo-chart' %>

<%= render partial: '/partials/charts/installments-chart' %>
