<div class="col-sm-6 margin-top-bottom-6">
    <div id="home_focus_area" class="white-dropshadow-card"></div>
</div>
<div class="col-sm-6 margin-top-bottom-6">
    <div id="home_timeseries" class="white-dropshadow-card"></div>
</div>


<%= content_for(:after_js) do %>
<script type="text/javascript">
  Chart.defaults.global.defaultFontFamily = 'Raleway';
</script>
<!-- CUMMULATIVE INSTALLMENT BY DATE CHART -->
<%= area_chart [
    {name: "Unlocked", data: cumulate_my_hash(@unlocked_installments.current_year_monthly_amount(year_range(@year)))},
    {name: "Locked", data: cumulate_my_hash(@locked_installments.current_year_monthly_amount(year_range(@year)))}],
    id: "home_timeseries",
    points: false,
    stacked: true,
    prefix: "$",
    thousands: ",",
    colors: ["#8D81D2","#AE6CB5"],
    library: {
        tooltips: {
            enabled: true,
            mode: 'index',
            intersect: false,
        },
      title: {
        display: true,
        text: 'FY Forecasted Investments'
      }
    } %>

<%= bar_chart [
    {name: "Unlocked", data: @unlocked_installments_fa_chart},
    {name: "Locked", data: @locked_installments_fa_chart}],
    id: "home_focus_area",
    stacked:true, 
    prefix: "$",
    thousands: ",",
    download: true,
    colors: ["#8D81D2", "#AE6CB5"],
    library: {
        tooltips: {
        enabled: true,
        mode: 'index',
        intersect: false
        },
      title: {
        display: true,
        text: 'FY Forecasted Investments by Focus Area'
      },
    } %>

<% end %>

