.button-disappear{
  display: none;
}

.buttons-flex {
  display: flex;
  margin-left: auto;
}

.card-button {
  align-self: flex-start;
  min-width: 100px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 3px;
  display: inline-block;
}

.accept-button {
  border: solid 4px green;
  color: green;
}

.accept-button:hover {
  color: white;
  background-color: green;
}

.decline-button {
  color: red;
  border: solid 4px red;
}

.decline-button:hover {
  color: white;
  background-color: red;
}

.edit-button {
  color: gold;
  border: solid 4px gold;
}

.edit-button:hover {
  color: white;
  background-color: gold;
}
