.button-disappear{
  display: none;
}

.buttons-flex {
  display: flex;
  margin-left: auto;
}

.card-button {
  align-self: flex-start;
  min-width: 60px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 100%;
  display: inline-block;
}

.unlock-button {
    /* border: solid 4px green; */
    color: green;
    background: palegreen;
}

.unlock-button:hover {
  color: white;
  background-color: green;
}

.decline-button {
  color: #A31621;
  /* border: solid 4px red; */
  background: indianred;
}

.decline-button:hover {
  color: white;
  background-color: #A31621;
}

.edit-button {
  color: #FFA000;
  /* border: solid 4px gold; */
  background: #F9D46D;
}

.edit-button:hover {
  color: white;
  background-color: #FFA000;
}



