.button-disappear{
  display: none;
}

.buttons-flex {
  display: flex;
  margin-left: auto;
}

.card-button {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unlock-button {
    border: solid 4px green;
    color: green;
}

.unlock-button:hover {
  color: white;
  background-color: green;
}

.decline-button {
  color: #A31621;
  border: solid 4px #A31621;
}

.decline-button:hover {
  color: white;
  background-color: #A31621;
}

.edit-button {
  color: gold;
  border: solid 4px gold;
}

.edit-button:hover {
  color: white;
  background-color: gold;
}



