.search-wrapper {
  display:flex;
  margin-bottom: 50px;
}

.dashboard-charts{
  display:flex;
  margin-bottom: 50px;
}

.dashboard-chart{
  position:relative;
  left:40px;
  width: 40vw;
  height: 35vh;
  background-color:white;
  margin-left: 40px;
  border-radius:5px;
}
.search-tool {
  display:block;
}
.suggestion-box {
  position:absolute;
}
.suggestion-item {
  position:relative;
  left:-40px;
  width:300px;
  font-size:15px;
  border: 1px solid lightgrey;
  display:block;
  background-color:white;
}
