//DASHOBARD SEARCH
.margin-top-bottom {
  margin-top: 5px;
  margin-bottom: 5px;
}

.search-buttons {
  display:flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
}

.search-input {
  display:flex;

}
.search-btn {
  color: $green;
  border: 3px solid $green;
  background-color:white;
  font-size:17px;
}
.active-tab {
  background-color: $green!important;
  color: white!important;
}
.suggestions {
  margin-bottom:30px;
}
.suggestion {
  background-color:white;
  display:block;
  color: $green;
}

.search-content {
  display:flex;
}
.searchfield {
  margin:20px;
}
.tag{
  border-radius:30px;
  color: $green;
  padding:5px;
  border: 2px solid $green;
  margin-left:3px;
}

// END DASHBOARD SEARCH

.dashboard-chart{
  height: 35vh;
}

.tablinks {
    overflow: hidden;
    border:none;
    background-color: white;
}
//COMMMMMMMMMMENT
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab h3 {
  text-align:center;
  text-decoration: underline;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

#second-chart-row{
  display:flex;
  margin-right:0px;
  margin-left:0px;

}

