.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}
.flex-grid-fifths {
  display: flex;
  justify-content: space-between;
}
.flex-grid-fifths .col {
  width: 18%;
}

@media (max-width: 992px) {
  .flex-grid,
  .flex-grid-fifth {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}