.footer-wau {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  background-color: #FFFFFF;
  color:#484848;
  position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow:hidden;
}

.logo-project-grace-footer {
  position: relative;
  top:-5px;
}

.footer-copyright {
  margin-left: 10px;
}

.footer-languages a {
  text-decoration: none;
  color:#484848;
   &:hover {
    color: $purple;
  }
}

.footer-left-section {
  display: flex;
  align-items: center;

}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 60px; /* bottom = footer height */
    // padding: 25px;
  }
