.edit-nearest-milestone-button-table {
  color: $orange;
  text-align: center;
}

.edit-nearest-milestone-button-table:hover {
  color: white;
  background-color: $orange;
  border-radius: 4px;
}

.edit-investment-button-table {
  color: $yellow;
  text-align: center;
}


.edit-investment-button-table:hover {
  color: white;
  background-color: $yellow;
  border-radius: 4px;
}
