.navbar-landing {
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: -10;
}


/* Basic navbar item */
.navbar-wau-item {
  cursor: pointer;
  padding: 0 20px;
}

.navbar-wau-link {
  font-size: 12px;
  text-decoration: none;
  color: black;
  &:hover {
    color: $purple;
  }
}


/* Right section */
.navbar-wau-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-right-navigation {
    padding-right: 20px;
}

.button-login-landing {
    border-radius: 4px;
    opacity: 1;
    background: #B5E9E9;
    color: #5a5a5a;
    font-size: 18px;
    text-align: center;
    padding: 8px;
    margin: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    text-decoration: none;
    &:hover {
    opacity: 0.9;
    box-shadow: 1.5px 1.5px 10px rgba(0,0,0,0.15);
    text-decoration: none;
    }
}

.button-signup-landing {
  border-radius:4px;
  opacity: 1;
  border: 2px solid white;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 8px;
  margin: 10px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.18);
  transition: box-shadow 0.3s ease-in-out;
  text-decoration: none;
  &:hover {
    opacity: 0.9;
    box-shadow: 1.5px 1.5px 10px rgba(0,0,0,0.2);
    text-decoration: none;
    background-color: #fad7e3;
    border-color: #fad7e3;
    color: white;
    }
}

