.navbar-wau {
  background: white;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $purple;
}

.navbar-search-bar {
  display: flex;
  background-color: transparent;
  width: 300px;
}

.searchTerm {
  /* border-radius: 3px; */
  background-color: transparent;
  width: 100%;
  color: #484848;
  border: none;
  padding: 10px;
  font-size: 14px;
}

.searchButton {
  background-color: transparent;
  cursor: pointer;
  font-size: 32px;
  border: none;
  border-radius: 0 3px 3px 0;
}

/* Basic navbar item */
.navbar-wau-item {
  cursor: pointer;
  padding: 0 20px;
}

.navbar-wau-link {
  font-size: 12px;
  text-decoration: none;
  color: black;
  &:hover {
    color: $purple;
  }
}

.navbar-wau .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wau-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-right-navigation {
    padding-right: 20px;
}

// .sticky {
//   position: fixed;
//   top: 0;
//   width: 100%
// }
