.navbar-landing {
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: -10;
}


/* Basic navbar item */
.navbar-wau-item {
  cursor: pointer;
  padding: 0 20px;
}

.navbar-wau-link {
  font-size: 12px;
  text-decoration: none;
  color: black;
  &:hover {
    color: $purple;
  }
}


/* Right section */
.navbar-wau-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-right-navigation {
    padding-right: 20px;
}


.button-landing {
  border-radius:4px;
  opacity: 1;
  border: 2px solid white;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 8px;
  margin: 10px;
  text-transform: uppercase;
  transition: box-shadow 0.2s ease-in-out;
  text-decoration: none;
  &:hover {
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    text-decoration: none;
    text-transform: uppercase;
    color: white;
  }
}

.button-body {
  border-radius:4px;
  opacity: 1;
  border: 2.4px solid white;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 8px;
  margin: 10px;
  text-transform: uppercase;
  transition: box-shadow 0.2s ease-in-out;
  text-decoration: none;
  &:hover {
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }
}

