.purple-info-parent-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.purple-info-child-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 65px;
  background-color: $purple;
  margin: 0px 5px;
  border-radius: 3px;
  text-align: center;
  color: white;
}
