.white-info-parent-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-home-info-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.white-info-child-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 32%;
  height: 80px;
  background-color: white;
  border-radius: 3px;
  text-align: center;
  box-shadow: 1px 1px 1px rgb(154, 228, 227);
  opacity: 0.98;
}


.big-number-green {
  color: $green;
  font-size: 32px;
}

.small-text-gray{
  font-size: 14px;
}
