.white-info-parent-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-home-info-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 97vw;
  margin-top: 10px;
}

.white-info-child-box {
  background-opacity: 0.95;
  text-opacity: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 31vw;
  height: 80px;
  background-color: white;
  margin: 0px 5px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(154, 228, 227, 0.102751);
}


.big-number-green {
  color: #9ae4e3;
  font-size: 32px;
}

.small-text-gray{
  font-size: 10px;
}
