// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

body {
  background: $background-color;
}

abbr {
  display: none;
}

.milestone-graphic{
  display:flex;
  font-size:12px;
}
.milestone-graphic p {
  margin:0;
}

.dot-purple {
  margin:30px;
  background-color:purple;
  border-radius:50%;
  width:30px;
  height:30px
}

.dot-grey {
  margin:30px;
  background-color:grey;
  border-radius:50%;
  width:30px;
  height:30px
}
